VITE_SUPABASE_PROJECT_NAME=DrManuel
VITE_SUPABASE_ACCESS_TOKEN=sbp_seu_access_token_aqui

VITE_SUPABASE_PROJECT_REF=seu_project_ref
VITE_SUPABASE_URL=https://seu_project_ref.supabase.co
VITE_SUPABASE_ANON_KEY=sua_anon_key
